<div class="flex justify-between">
  <div class="basis-2/3 p-6">
    <div *ngFor="let plan of this.data.plan">
      <span class="ps-6 pt-4 self-center text-10l font-semibold whitespace-nowrap dark:text-white">{{plan.time}}</span>
      
      <div class="my-1 max-w p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:-translate-y-1" (mouseenter)="Travel(plan.geolocations)" >
        <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">{{ plan.activities[0] | removeParentheses }}</p>
    </div>
    <br>
    </div>
    
  </div>
  <app-map
    [center]="center"
    [inputmarkers]="inputMarkers"
  ></app-map>
</div>
